.hero-text {
  text-align: center;
  position: absolute;
  background-color: rgba(65, 97, 24, 0.3);
  bottom: 250px;
  color: #FDFBF7;
  font-size: 100px;
  width: 100%;
  height: 40%; 
  font-family: 'Lora', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.made-by {
  text-align: left;
  position: absolute;
  background-color: rgba(0, 4, 13, 0.3);  
  bottom: 0px;
  color: #FDFBF7;
  font-size: 20px;
  width: 30%;
  height: 10%; 
  font-family: 'Instrument Serif';
  margin-left: 70%;
}
.made-by h2 {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}